<form method="POST" action="http://127.0.0.1:8000/api/submit/" name="submit_form">
    <!-- cokkie（csrftoken）をcsrfmiddlewaretokenとしてPOSTで送り返す．これを省くとエラーになる -->
    <input type="hidden" name="csrfmiddlewaretoken">
    problem_id: <input type="text" name="problem_id"><br>
    flag: <input type="text" name="flag"><br>
    <input type="submit" value="login"><br>
</form>

<script   src="https://code.jquery.com/jquery-3.0.0.js"   integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo="   crossorigin="anonymous"></script>
<script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    document.forms.submit_form.csrfmiddlewaretoken.value = csrftoken
</script>